extends layout

block content
  h1.title= title
  p Welcome!

  if error
    p Error getting dynamic content.
  else
  section#categorySection
    for item in list
      a(href='/catalog/'+item.id)
        div.category
          h3 #{item.name}
          .category-box 
            img(src=`/images/${item.name}.jpg`)