extends layout

block content


  if error
    p Error getting dynamic content.
  else
    for item in items
      div.card(style = 'display:flex;flex-direction:column;' )
        p.card-header  #{item.name}
        p
        p.card-text  Description: #{item.description}
        p.card-text $ #{item.price}
        p.card-text  Quantity Available: #{item.stock}
        hr
        a(href = item.id +"/delete") Delete
        hr
        a(href = item.id +"/update") Edit Item
      