body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}
a:hover {
  text-decoration: none !important;
}
img {
  width: 100%;
}
.category {
  display: flex;
  flex-direction: column;
  padding: 80px;
  border: 1px solid black;
  text-align: center;
  width: 80%;
  border-radius: 2em;
  background-color: lightyellow;
}
.category a {
  font-size: 24px;
}

.heading {
  font-size: 16px;
}
.page-header {
  padding: 15px;
  text-align: center;
  background: #00b7ff;
  color: white;
  font-size: 30px;
  margin-bottom: 17px;
  width: auto;
}
.page-header a {
  color: white;
}
.page-header a:hover {
  text-decoration: none;
}
.card-text {
  padding-left: 15px;
}

.col-xl-10 div {
  margin-bottom: 15px;
}

.panel {
  width: 480px;
}

.cat {
  display: inline;
  padding-right: 10px;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.error {
  background-color: lightcoral;
  width: 100%;
  height: 50px;
}
.warning {
  position: absolute;
  font-size: 24px;
  color: red;
  list-style-type: none;
  left: 10%;
  padding-top: 10px;
}
.error .warning {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="sidebar-nav"] {
    display: flex;
    flex-direction: row;
    top: 0;
    z-index: 1; /* Stay on top */
    height: 100%; /* 100% Full-height */
    width: auto; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    left: 0;

    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  .page-header {
    width: 100%;
  }
  .col-xl-10 a {
    color: #00b7ff;
  }
  .panel {
    width: 120px;
  }

  li {
    padding-left: 35px;
  }
  ul li {
    list-style-type: none;
  }
  .category {
    border-radius: 1%;
    text-align: center;
    width: 100%;
  }
  .cat {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
  }
}
